#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#gameCanvas {
  width: 600px; /* Fixed width */
  height: 600px; /* Fixed height */
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 50px;
}

.game-container {
  display: flex;
  flex-direction: row; /* Keeps .container-left and .container-right in a row */
  align-items: center; /* Vertically centers children within the game container */
  justify-content: flex-start; /* Aligns children to the start and lets you use margin on the canvas */
  background-color: blue;
  width: 1200px;
  height: 600px;
  margin: 0 auto; /* Center horizontally */
  position: relative; /* Positioning context for absolutely positioned children */
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically within these containers */
  align-items: center; /* Center content horizontally */
  height: 600px;
  flex-grow: 1; /* Allows flex items to grow if necessary */
  background-color: rgba(226, 51, 183, 0.5); /* Different colors as needed */
}

.container-right {
  background-color: rgba(19, 202, 98, 0.5);
  width: 300px; /* Explicit width */
}

.container-left {
  width: 500px; /* Explicit width */
}

.host-portrait, .host-dialogue-box, .score-element, .tile-preview {
  background-color: rgb(177, 226, 43);
  width: 80%; /* Percentage of parent's width */
  height: 0; /* Reset height */
  padding-top: 80%; /* Same as width to maintain aspect ratio */
  position: relative; /* For positioning inner content absolutely if needed */
  margin-top: 10%; 
}

.portrait-content, .host-dialogue, .score-counter, .streak-counter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers text horizontally */
  font-size: 12px;
  font-weight: bold;
  color: #333; /* Adjust text color as needed */
}

.host-dialogue-box {
  width: 85%; /* Percentage of parent's width */
  padding-top: 70%;
}

.portrait-content {
  border-style: inset;
  border-color: #333;
}

.host-dialogue {
  display: flex;
  background-color: white;
  border: 2px solid black; /* Adds a black border */
  border-radius: 5px;
  padding: 12px;
  padding-top: 20px;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.7);
}

.card-container {
  position: relative; /* Make the container a positioning context */
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Center the cards horizontally */
  background-color: brown;
  width: auto;
  height: 100px;
  padding-left: 10px; /* Add padding to separate the button from the cards */
}

.card {
  margin: 0;
  margin-top: 10px;
  border: 2px outset grey;
}

.card:hover {
  filter: brightness(150%); /* Increase brightness to highlight */
}

.card:active {
  border-style: inset;
  filter: brightness(70%); /* Decrease brightness to dim */
}

.startButton {
  position: absolute; /* Position the button absolutely */
  top: 50%; /* Move the button to the vertical center of the container */
  left: 10px; /* Position the button 10px from the left edge of the container */
  transform: translateY(-50%); /* Adjust to vertically center the button */
  width: 100px; /* Adjust the width to your preference */
  height: 50px; /* Same as width to make it square */
  background-color: orange;
  border: none;
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  text-align: center;
  cursor: pointer;
}

.answer-A, .answer-B, .answer-C, .answer-D {
  display: flex;
  width: 50px; /* Adjust the width to your preference */
  height: 50px; /* Same as width to make it square */
  margin-top: 20px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: #333;
  border-style: outset;
}

.answer-A:active, .answer-B:active, .answer-C:active, .answer-D:active {
  border-style: inset;
  filter: brightness(70%); /* Decrease brightness to dim */
  width: 48px;
  height: 48px;
}

.answer-A {
  background-color: red;
}

.answer-B {
  background-color: blue;
}

.answer-C {
  background-color: yellow;
}

.answer-D {
  background-color: green;
}